

*{
 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 0;
    margin: 0;
}

:root {
    background-color: rgb(160, 255, 250);
    font-size: 62.5%;
}

h1 {

    text-align: center;
    margin-top: 2rem;
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

p {

    text-align: center;
    margin-top: 2rem;
    font-size: 2.4rem;
    margin-bottom: 5rem;
}

.quiz {
    display: block;
    margin-right: auto;
    border: 0.3rem solid #56a5eb;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-top: 10rem;
    min-width: 50vh;
    min-height: 10rem;
}

input {

    border: 0.3rem solid #56a5eb;
    border-radius: 5px;
    min-width: 20rem;
    min-height: 4.5rem;
}

.answers {
    position: relative;
    right: 18rem;
    display: grid;
    margin-top: 12rem;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: auto auto;
    max-width: 100px;
    grid-gap: 50px;
    margin-bottom: 5rem;
}

.submit {

    background-color: #1087f0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons {

    margin-left: 40%;
    margin-right: auto;
}

.cancel {

   
    background-color: #dd0000; 
    margin-left: 5rem;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.bi {
 
    position: absolute;
    font-size: 50px;
    color: #1087f07e;
    margin-left: 40px;
    cursor: pointer;
    
    
}
 

@media only screen and (max-width: 600px) {

    input {

        border: 0.3rem solid #56a5eb;
        border-radius: 5px;
        min-width: 15rem;
        min-height: 4.5rem;
    }

    .answers {
        position: relative;
        right: 11.5rem;
        display: grid;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: auto auto;
        max-width: 100px;
        grid-gap: 30px;
        margin-bottom: 5rem;
    }

   
    .submit {

        background-color: #1087f0; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
    }


    .buttons {

        margin-left: 15%;
        margin-right: auto;
    }
    
    
    .cancel {
    
       
        background-color: #dd0000; 
        margin-left: 5rem;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
      }

}